# Virtual Environments
.venv/
venv/
ENV/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Environment Variables & Secrets
.env
!.env.example

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Docker
.docker/

# test challenges file
*.docx
*.pdf

# Application Audit Logs
logs/
*.log

